body {
  background:linear-gradient(135deg, #044997, #1B7087);
  font-family: Arial, sans-serif;
  margin: 0;
}

    
    .content-container {
      background-color: #F7FFFF;
      width: 70%;
      margin: 20px auto; /* Agregar espacio superior e inferior de 20px y centrar horizontalmente */
      padding: 20px;
      box-sizing: border-box; /* Incluir el padding en el ancho del contenedor */
      border-radius: 10px; /* Redondear las esquinas */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    

h1 {
  color: #003D59;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align:justify;
}

    .slideshow-container {
      position: relative;
      height: 400px;
      overflow: hidden;
    }
    
    .slideshow-container img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s ease;
    }
    
    .slideshow-container img.active {
      opacity: 1;
    }

.pet-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.pet-item {
  text-align: center;
  position: relative;
}

.pet-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s;
}

.pet-item p {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.pet-item:hover img {
  transform: scale(1.1);
}

.custom-button {
  display: inline-block;
  text-decoration: none;
  background-color: #044997;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s;
}

.button-container{
  text-align:center;
}

.custom-button:hover {
  background-color: #1B7087;
}

.custom-button:focus {
  outline: none;
}

.custom-button span {
  display: inline-block;
  vertical-align: middle;
  horizontal-align: middle;
  line-height: normal;
}

